<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="w-50 mx-auto px-3 py-3 shadow" action="/user/login" method="post">
    <h1 class="text-center ">Login</h1>
    <input class="form-control mt-3" name="email" type="text" placeholder="Email">
    <input class="form-control mt-3" name="password" type="text" placeholder="Password">
    <button class="btn btn-dark mt-3" type="submit">Login</button>
 </form>  
</body>
</html>