<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <div>
        <h1>Todo-list</h1>
        <form action="/add" method="post">
            <input name="beat" type="text" placeholder="name">
            <input name="camp" type="text" placeholder="surname">
            <button type="submit">Add</button>
        </form>
    </div>
      <% detail.forEach(element => { %>
         <p><%= element.class %></p>
         <p><%= element.name %></p>
         <p><%= element.food %></p>
      <% }) %>
</body>
</html>